@using System.Threading
@implements IDisposable

<h5> @currentDate @currentTime</h5>

@code {
    string currentDate, currentTime;
    Timer aTimer;

    protected override void OnInitialized()
    {
        currentDate = DateTime.Now.ToShortDateString();
        currentTime = DateTime.Now.ToShortTimeString();
        aTimer = new Timer(Tick, null, 0, 1000);
    }

    private void Tick(object _)
    {
        currentDate = DateTime.Now.ToShortDateString();
        currentTime = DateTime.Now.ToShortTimeString();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}

