<h1 class="login-header shadow-sm">Welcome to NotEBook!</h1>

<div class="login-form shadow-sm">
    <form action="#">
        <div id="username-div">
            <h3>Username</h3>
            <input type="text" placeholder="Username" />
        </div>
        <div id="password-div">
            <h3>Password</h3>
            <input type="password" placeholder="Password" />
        </div>

        <input type="submit" class="btn-primary rounded" value="Login" />
        <input type="submit" class="btn-primary rounded" value="Register" />
    </form>
</div>


@code {


}
