.main__title{
    color: white;
    text-align: center;
}

.text__editor{
    border: 3px white solid;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.text__editor__toolbar{
    color: black;
}