@inherits LayoutComponentBase
@layout LoginLayout

<center>
    <section class="Form">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="/css/Images/notebook.png" class="img-fluid" alt="NotEBook Logo"/>
                </div>
                <div class="col-lg-7 login-form ">
                    <h1 style="font-weight:bold">Welcome to NotEBook!</h1>
                    @Body
                </div>
            </div>
        </div>
    </section>

</center>

@code {

}
