@using NotEBookWeb.Data
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="col-lg-16">

                <div class="col-md-1">
                    <AuthorizeView>
                        <Authorized>
                            <a class="login-header" href="/login" @onclick="()=>Logout()">Logout</a>
                        </Authorized>
                        <NotAuthorized>
                            <a class="login-header" href="/login">Login</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                <div>
                    <DateComponent></DateComponent>
                </div>
            </div>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).FlagUserAsLoggedOut();
    }
}
