@page "/todo"


<div class="col-sm-12 col-md-12 col-lg-9">
    <Calander>
        <DayTemplate Context="day">
            @{
                string currentDayClass = day.Date == DateTime.Now.Date ? "current-day" : "";
            }

            @if (!day.isEmpty)
            {
                <div class="navbar-text @currentDayClass">

                    <h3 class="font-weight-bold day">@day.DayNum</h3>

                    @*@foreach (var e in day.Events)
                    {
                        if (e.Title != "")
                        {
                            <div class="event">
                                <h3>@e.Title</h3>
                                <h3>@e.Time.ToShortTimeString()</h3>
                            </div>
                        }

                    }*@

                </div>
            }

        </DayTemplate>
    </Calander>

</div>


@code {

}
